body {
  text-align: center;
  color: #fff;
  justify-content: center;
  background-image: linear-gradient(rgb(51, 53, 54), rgb(204, 204, 196));
}

h1 {
  position: sticky;
  font-size: 50px;
  font-style: italic;
  color: rgb(199, 54, 54);
}
.App {
  width: 25%;
  height: 100vh;
  box-shadow: 25px 65px 85px -5px rgba(196, 95, 95, 0.5);
  font-size: 30px;
  margin-left: 500px;
}

.inputList {
  border-color: rgb(216, 130, 49);
  font-size: 20px;
  padding-left: 40px;
  border: 4px double;
  margin-top: 50px;
}

.Todo {
  border-radius: 50px;
  color: rgb(20, 18, 18);
  font-style: italic;
}

button {
  margin-left: 5px;
  padding: 8px;
}

button {
  background: rgba(84, 192, 219, 0.5);
  border: 2px solid #000;
  color: #000;
  transition: 0.5s;
  outline: none;
}
button:hover {
  background: rgba(170, 68, 184, 0.5);
  box-shadow: 8px 6px 6px #122;
  color: rgb(240, 232, 232);
}

.delete {
  color: #fff;
  background-color: #000;
}

@media (max-width: 986px) {
  .App {
    margin: auto;
    width: 75%;
    height: 100vh;
    box-shadow: 25px 65px 85px -5px rgba(0, 0, 0, 0.5);
    background-image: linear-gradient(rgb(90, 92, 95), rgb(109, 112, 117));
  }

  button {
    color: white;
    margin-left: 100px;
    margin-top: 20px;
  }
  .inputList {
    margin-top: auto;
    font-size: 10px;
  }
  .Todo {
    text-shadow: 2px 2px red;
  }
}
