body {
  text-align: center;
  margin: auto;
  color: #fff;
  height: 800px;
  background-repeat: no-repeat;
  background-image: linear-gradient(red, yellow);
  position: sticky;
}

h1 {
  font-size: 40px;
  font-style: italic;
  color: #fff;
  text-shadow: 4px 6px rgb(8, 8, 8);
}
.App {
  font-size: 30px;
}

.inputList {
  border-width: 4px;
  border-color: rgb(64, 66, 65);
  font-size: 30px;
  padding-left: 70px;
}

.clear {
  font-weight: bold;
  margin-left: 60px;
}

.Todo {
  text-shadow: 2px 2px red;
  padding-top: 40px;
  font-size: 35px;
  color: black;
  font-style: italic;
}

.fa-plus-circle {
  font-size: 40px;
  color: #fff;
}

button {
  margin-top: 2.5rem;
  margin-left: 600px;
  font-size: 20px;
  padding: 8px;
}

button {
  background: rgba(84, 192, 219, 0.5);
  border: 3px solid #000;
  color: #000;
  border-radius: 4px;
  transition: 0.5s;
  outline: none;
}
button:hover {
  background: rgba(170, 68, 184, 0.5);
  box-shadow: 8px 6px 6px #122;
  color: rgb(240, 232, 232);
}

.delete {
  color: #fff;
  background-color: #000;
}
